<% if @current_user_attending %>
  <h5 class="logout">You are attending this event</h5>
<% elsif @current_user.present? %>
    <%=button_to 'Attend', attending_event_path(event_id: @event.id),class: "logout" %>
<% end %> 

<div class="events">
  <h1><%= @event.description %></h1>
  <h5>Event Date: <%=  @event.date %></h5>
  <h5>Event Creator: <%= @event.creator.username %></h5>                      
</div>
<div class="events">
  <h1>Event Attendees</h1>
  <% if @attendees.any? %>
    <% @attendees.each do |attendee| %>
      <h5><%= link_to attendee.username,attendee, class: "links" %></h5>
    <% end %>
  <% else %>
    <h5>No Event Attendees Found!</h5>
  <% end %>
</div>
