<div class="events">
	<h1 style="text-align: center;"><%= @event.description %></h1>
	<h5>Event Date: <%=  @event.date %></h5>
	<h5>Event Creator: <%= @event.creator.username %></h5>
</div>
<div class="events">
	<h1 style="text-align: center;">Event Attendees</h1>
	<% if @attendees.any? %>
		<% @attendees.each do |attendee|%>
			<%= link_to attendee.username, user_path(attendee), style:'color:white; text-decoration: none;' %>
		<%end%>
	<%else%>
		<h5>No Event Attendees Found!</h5>
	<%end%>
</div>
<% if @current_user_attendent==false and session[:id]!=nil %>
	<%=button_to 'Attending', {:controller => "events", :action => "attending", :event_id => @event.id, :user_id=> session[:id]} , :method=>:post  %>
<%elsif @current_user_attendent==true %>
	<h5 class="content">You are attending this event</h5>
<%end%>